h1{
    text-align: center;
    color: green;
}

p{
    font-family: monospace;
    font-size: 23px;
}

p.blueParagraph{
    color: blue;
}

p.yellowParagraph{
    color: yellow;
}

body {
    background-color:burlywood;
}